// Specific CSS for your home-page
.main-container {
  display: flex;
  flex-direction: column;
}
.container {
  width: 1000px;
  margin: auto;
}
.infos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 50px 0px;
  h4 {
    font-size: 20px;
    color: #838383;
  }
}
.first, .second, .third {
  text-align: center;
  p {
    font-size: 16px;
  }
}
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #838383;
}
.row {
  justify-content: center;
  a {
    text-decoration: none;
  }
}
.card {
  margin-top: 20px;
  .card-title {
    margin-bottom: 0px;
    color: black;
  }
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  a {
    font-size: 25px;
    padding: 5px 10px;
    }
}
.display-map {
  display: flex;
  flex-direction: column;
}
hr {
  width: 300px;
  border: 1px solid #838383;
  margin-bottom: 20px;
}
#map {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}
.search_bar {
  display: flex;
  justify-content: center;
  .barre {
  width: 400px;
  }
}

