
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1582417746333-30354bba843e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80') ;">
  <div class="container">
    <h1>El Cubano, <strong>bar à cocktails</strong></h1>
    <p>Venez les gouter !!!</p>
      <%= render "shared/search" if (controller.controller_name == "cocktails" && controller.action_name == "index") %>
  </div>
</div>



