<div class="footer_container">
  <div class="icons">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter-square"></i>
  </div>
  <div class="horaires">
    <h4>Horaires</h4>
    <p>Tous les jours de 17h à 2h</p>
    <p>Happy hour de 18h à 20h</p>
  </div>
  <div class="contact">
    <h4>Contact</h4>
    <p><i class="fas fa-map-marker-alt"></i> 16 villa Gaudelet 75011 Paris</p>
    <p><i class="fas fa-phone-square-alt"></i> 01.45.27.12.15<span class="space"><i class="fas fa-at"></i> le-bar@gmail.com</span></p>
  </div>

</div>
