<div class="footer_container">
  <div class="icons">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter-square"></i></a>
  </div>
  <div class="horaires">
    <h4>Horaires</h4>
    <p>Tous les jours de 17h à 2h</p>
    <p>Happy hour de 18h à 20h</p>
  </div>
  <div class="contact">
    <h4>Contact</h4>
    <p><i class="fas fa-phone-square-alt"></i> 01.45.27.12.15</p>
    <p><i class="fas fa-at"></i> <a href="#">el-cubano@gmail.com</a></p>

  </div>

</div>
