<div class="navbar">
  <div class="left">
   <%= image_tag "flag32.png", alt: "drapeau", class: "drapeau" %>
    <h4 class="home"> <%= link_to "Home", root_path%></h4>
  </div>
    <h4 class="add"><%= link_to "Ajouter un nouveau cocktail", new_cocktail_path%></h4>
</div>
