// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  h2 {
    margin-top: 20px;
  }
}
.details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.back {
 display: flex;
 justify-content: space-evenly;
 margin-top: 40px;
  a {
    width: 200px;
  }
}
